@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    


}
.logo{
height: 5%;
width: 9%;
}
.list-navegacion{
    width: 90%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   
    

}
nav{
    width: 50%;
}


a{
    text-decoration: none;
} 
    

li,a{
font-family: "Montserrat",sans-serif;
font-weight: 500;
font-size: 1.2em;

color: rgb(105, 40, 167);

}

body
{
    
    background-color: darkgrey;
    box-sizing: border-box;
    
}
.content{
    
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    background-color: antiquewhite;
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    width: 97,9%;
    
}   
.title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
h1{
    width: 50%;
    margin-left: 40%;
}
.info-list{
    width: 30%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.info-list button{
    padding: 9px 25px;
    border:4px; 
    background-color: #508991;;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0;
}
.info-list button:hover{
    background-color: rgba(100 ,136,169,0.8);
}
.info-list a
{
    color: black;
}
.title p{
    width: 50%;
    margin-left: 40px;
}
.presentation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    
}
.presentation h2{
    width: 80%;
    margin-left: 38%;

}
.presentation p
{
    width: 50%;
}

.presentation img
{
    height: 20%;
    width: 40%;
    border-radius: 10px;
}
.ventajas{
    width: 100%;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container-ventajas{
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

    flex-wrap: nowrap;
    margin-top: 70px;
}
.ventajas ul{
    list-style: none;
}
.container-img-info img{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
.lugares{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    
}
.contenedor-lugares{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px;
}
.card{
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 0px 17px 2px;
    border-radius: 30px;
    position: relative;
    padding: 10px 10px;
}

.card img{
    width: 100%;
    border-radius:30px;
}
.card button{
    padding: 9px 25px;
    border:4px; 
    background-color: #508991;;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0;
}
.card button:hover{
    background-color: rgba(100 ,136,169,0.8);
}
.card a{
    color: black;
}